{% extends "main.html" %}

{% block title %} {{post.title}} {% endblock title %}

{% block contenidoQueCambia%}

<h1>{{post.title}}</h1>
<h2>{{post.subtitle}}</h2>
<small>Creado por: {{post.author.first_name}} {{post.author.last_name}}</small>
<small>{{ post.date }}</small>
<hr>
<br>
<p>{{ post.body }}</p>
<p>{{ post.imagepost }}</p>

<br><br/>
<a class="btn btn-dark" href="/">Volver al inicio. </a><a class="btn btn-primary" href="{% url 'update_post' post.pk %}">Editar</a><a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Borrar</a>

{% endblock contenidoQueCambia%}